extends base


block content 
    
        form(class='forgotpw-form  form-group')
            .form-group
                input(class='form-control bottom_space' type="email" name="email" id='email' placeholder='Please Enter email')
                button(type='button' class='forget_pw_btn form-control btn btn-success') Send Reset Link