extends myaccount 

block details
    .form-container
        h2 UPDATE PASSWORD
        form(class='form update-pw-form')  
            .form-group
                label(class='form__label' for='current_password') Current Password
                input(class='form__input' type='password' id='current_pw'  placeholder='********' required minlength='8')

            .form-group
                label(class='form__label' for='new_password') Password
                input(class='form__input' type='password' id='new_pw' placeholder='**********' required minlength='8')
            
            .form-group.bottom_space
                label(class='form__label' for='confirm_pw') Confirm Password
                input(class='form__input' type='password' id='confirm_pw' placeholder='**********' required minlength='8')
             
            .form-group.right
                button(class='btn btn--small btn--green') Update Password