extends myaccount


block details
    .form-container
        h2 YOUR ACCOUNT SETTINGS
        form(class='form')
            .form-group
                label(class='form-label' for='name') Name
                input(class='form__input' id='name' type='text' value=`${user.name}` name='name' required)
            .form-group 
                label(class='form-label' for='email') Email
                input(class='form__input' id='email' type='email' value=`${user.email}` name='email' required)
            .form-group.form__photo-upload
                img(class='form_user-photo' src=`/images/user/${user.photo}`, alt="User Photo")
                input(class='form__upload' type='file' accept='image/*' id='photo' name='photo')
                label(for='photo') Choose photo
            .form-group.right
                button(class='btn btn--small btn--green user-update' type='button')  Save Settings